<div class="footer">
    <div class="contact col">
        <h4>Contactanos/ Soporte:</h4>
        <p><i class="fas fa-envelope"></i> tripstarter@gmail.com</p>
        <p><i class="fab fa-whatsapp"></i> +11 3900-7689</p>
        <a href="#"> <i class="fab fa-youtube"></i> Youtube</a>
    </div>

    <div class="payment col payment-methods">
        <h4>Metodos de pago:</h4>
        <img
            class="firsMethod"
            src="\images\1200px-Mastercard_2019_logo.svg.png"
            alt="" />
        <img class="secondMethod" src="\images\visa.png" alt="" />
        <img class="thirdMethod" src="\images\logo-Paypal.png" alt="" />
    </div>

    <div class="partners col ourPartners">
        <h4>Partners:</h4>
        <a href="https://www.despegar.com.ar/"
            ><img
                class="firsPartner"
                src="/images/despegar-logo.png"
                ="partner-despegar"
        /></a>

        <a href="https://signaturetours.com.ar/"
            ><img
                class="secondPartner"
                src="\images\Signature-Tours-LOGOFullColor_Alpha_1920x1080-1.avif"
                alt="partner-signature"
        /></a>
        <a href="https://www.tripadvisor.com.ar/"
            ><img
                class="thirdPartner"
                src="\images\Logo-Tripadvisor.png"
                alt="partner-tripadvisor"
        /></a>
    </div>
</div>
