* {
    font-family: "roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f4f5;
}

/* NAVBAR */
.navbar {
    background-color: #009459;
    opacity: 0.8;
}

.img-navbar {
    height: 60px;
    width: 60px;
    margin-top: 0px;
    margin-bottom: 2px;
    padding: 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

/* NAVBAR FIN */

/* Validator Front  */
.is-valid input,
.is-valid select {
    border-color: #198754;
}

.is-invalid input,
.is-invalid select {
    border-color: #842029;
}

.error {
    display: none;
}

.is-invalid .error {
    display: block;
    color: #ea0e0e;
    text-transform: uppercase;
}
/* Fin Validator Front  */

/* BUSCADOR INDEX */
.whereToGo {
    width: 160%;
    text-align: center;
    height: 10%;
}
.whereToGoSubmit {
    margin-top: 0%;
}
.search {
    margin-top: 0;
    padding-top: 0;
    background: url("/images/bg-search.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
}

.buscador {
    align-self: center;
    margin: 30px 0;
    margin-bottom: 3px;
}
.buscador-gif {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 30px;
}
.busca-home {
    width: 100%;
    border: 1px solid #009459;
    color: #b3b3b3;
    text-decoration: none;
    padding: 8px 10px;
    background: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    opacity: 0.8;
}

/* FIN BUSCADOR INDEX */

/* ESTILOS CARDS */

@media (min-width: 1024px) {
    .primaryTripCard {
        width: 100%;
        margin-top: 20px;
    }
    .tripCard {
        padding-top: 20px;
    }
    .tripCard:hover {
        box-shadow: 0 4px 8px 0 rgba(100, 85, 85, 0.2),
            0 6px 20px 0 rgb(100, 85, 85, 0.2);
    }
    .productCardContainer {
        height: 10%;
    }
}

/* ESTILOS FORMULARIO LOGIN REGISTRO*/
.login-register {
    margin-top: 100px;
}

.form-login {
    width: 400px;
    height: 300px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 0px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #009459;
    color: white;
    opacity: 0.85;
}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.form-register {
    height: 92%;
    background: #4e4d4d;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #009459;
    color: white;
    opacity: 0.85;
}

.form-register h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.line-register {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 50px auto 0 auto;
}

.input-login {
    width: 100%;
    border: 1px solid #011f38;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.btn-login {
    width: 100%;
    height: 40px;
    background: #009459;
    border: none;
    color: #fff;
    margin-bottom: 14px;
}

.form-login p {
    height: 40px;
    text-align: center;
}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.form-login a:hover {
    text-decoration: underline;
}
/* media queris register*/
@media (max-width: 425px) {
    .form-register {
        width: 90%;
    }
}
@media (min-width: 768px) {
    .form-register {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .form-register {
        width: 30%;
    }
}

/* media queris login*/
@media (max-width: 425px) {
    .form-login {
        width: 90%;
    }
}
@media (min-width: 768px) {
    .form-login {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .form-login {
        width: 30%;
    }
}

/* FIN ESTILOS FORMULARIO LOGIN REGISTER*/

/* ESTILOS FOOTER */

.footer {
    width: 100%;
    background: #009459;
    margin-top: 2.3em;
    justify-content: space-around;
    color: #fff;
}
.footer h4 {
    margin-bottom: 1em;
}
.footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer .partners a {
    display: block;
    margin-bottom: 6px;
}

/* FIN ESTILOS FOOTER */

/* INICIO ESTILOS INDEX */

.cards {
    padding: 25px;
}

.img-card {
    border-radius: 80px;
}

.title-card {
    width: 100%;
    height: auto;
    background: #009459;
    border: none;
    color: #fff;
    margin-bottom: 0px;
    padding: 4px;
}

.text-card {
    width: auto;
    background: #4e4d4d;
    margin: auto;

    margin-bottom: 25px;

    padding: 20px 30px;

    color: white;
    opacity: 0.85;
}

.font-heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* elementos sueltos index*/

.divisor-index-1 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.seeDetailsButton {
    background-color: #009459;
    margin: 0% 1% 1% 0%;
    border: none;
    padding: inherit;
}
.seeDetailsInput {
    background-color: #009459;
    border: none;
    padding: 10%;
    color: #f8f9fa;
}

/* carousel */

.carousel-size {
    height: 100px;
}
.indeximg {
    background: url("/images/indexdiv.png");
    width: 100%;
    height: 350px;
}
@media (max-width: 700px) {
    .indeximg {
        display: flex;
    }
}

.desc-indeximg {
    color: white;
    font-size: 40px;
    font-family: "Roboto";
    font-weight: 500;
    margin-left: 30px;
    text-shadow: 5px 3px 9px rgba(25, 39, 40, 0.3);
    margin-top: 90px;
    padding-top: 0px;
    align-self: center;
    align-content: center;
}

@media (max-width: 700px) {
    .imgdiv {
        height: 220px;
    }
}

@media (min-width: 800px) {
    .search {
        display: none;
    }
}

.division-1 {
    background-color: #009459;
    margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    margin-top: 90px;
}

/* PRODUCTCART */
h1 {
    padding: 1.25rem 0;
    text-align: left;
}

.cart {
    display: flex;
    margin-left: 1.5rem;
}
.products {
    flex: 0.75;
}
.product {
    display: inline-flex;
    flex-direction: row;
    width: 80%;
    height: 12.5rem;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 0.75rem;
}
.product:hover {
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.product > img {
    width: 18.75rem;
    height: 12.5rem;
    object-fit: cover;
}
.product > img:hover {
    transform: scale(1.04);
}
.product-info {
    padding: 1.25rem;
    width: 100%;
    position: relative;
}
.product-name {
    margin-bottom: 1.25rem;
}
.product-eliminar {
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    padding: 0.625rem 1.56rem;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.product-eliminar:hover {
    background-color: rgb(224, 24, 24);
    font-weight: 600;
}
.product-cantidad > input {
    width: 2.5rem;
    padding: 0.31rem;
    text-align: center;
}
.fa {
    margin-right: 0.31rem;
}
.cart-total {
    position: absolute;
    top: 19.5rem;
    right: 12.5rem;
    flex: 0.25;
    float: right;
    margin-left: 1.25rem;
    padding: 1.25rem;
    height: 15rem;
    border: 1px solid silver;
    border-radius: 5px;
    z-index: 100;
}
.cart-total p {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.875rem;
    font-size: 1.25rem;
}
.cart-total a {
    display: block;
    text-align: center;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: rgb(44, 56, 122);
    color: white;
    text-decoration: none;
}
.cart-total a:hover {
    background-color: rgb(64, 84, 194);
}

.button {
    display: flex;
    justify-content: flex-end;
}

.button button {
    background-color: green;
    padding: 1rem 1rem;
    border: 0px solid transparent;
    border-radius: 5px solid;
    color: white;
    width: 6rem;
    height: 3rem;
}

.pagoresp {
    display: none;
}
.button button:hover {
    background-color: rgb(177, 59, 59);
    font-weight: 600;
}

@media (max-width: 900px) {
    .product {
        height: 16rem;
        width: 100%;
    }
    .product img {
        width: 50%;
        height: 100%;
    }

    .cart {
        display: flex;
        flex-direction: row;
    }

    .cart-total {
        margin-left: 0;
        margin-bottom: 1.25rem;
    }

    .cart-total {
        display: none;
    }

    button {
        text-align: center;
        margin-bottom: 20px;
        padding: 10px;
    }
    .button {
        margin: 0.5rem 0.5rem;
        text-align: center;
        padding: 3px;
    }

    .container {
        width: 100%;
    }

    .pagoresp {
        display: flex;
        flex-direction: column;
        border: 1px solid silver;
        margin-top: 1rem;
        padding: 0.5rem 0.5rem;
    }

    .pagbut {
        background-color: blue;
        color: white;
        font-weight: bold;
        padding: 0.5rem 0.5rem;
    }
}

/* FIN PRODUCTCART */

/* FORMULARIO ADMIN */

.formularioAdminBody {
    background-color: #009459;
}
.login-logo {
    margin: 4%;
}
.divLogo {
    margin: 3%;
}
.row.adminRow {
    margin: auto;
    margin: 1;
    justify-content: center;
}
.rowAdminForm {
    width: 100%;
}
.form-login.adminForm {
    height: 100%;
}
.container-xxl {
    height: 146vh;
}

.justMakeSpaceBro {
    height: 3%;
}
.tourOption {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}
.exampleFormAdmin1 {
    width: 12vw;
    text-align: center;
}
.formulario {
    width: 40%;
}

/* FIN FORMULARIO ADMIN */

/* NOT FOUND */
@import url(https://fonts.googleapis.com/css?family=opensans:500);
.bodyNotFound {
    background: #33cc99;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    max-height: 700px;
    overflow: hidden;
}
.c {
    text-align: center;
    display: block;

    width: 80%;
    margin: 100px auto;
}
.notFoundMain h1 {
    z-index: 2;
    text-align: center;
    font-size: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;

    letter-spacing: 15px;
}
._1 {
    text-align: center;
    display: block;

    letter-spacing: 12px;
    font-size: 4em;
    line-height: 80%;
}
._2 {
    text-align: center;
    display: block;

    font-size: 20px;
}
.text {
    font-size: 70px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 19px 0px 0px 0px;
    /* top: 256.301px; */
    z-index: 3;
    width: 100%;
    line-height: 1.2em;
    display: inline-block;
}

.btnNotFound {
    background-color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    width: 80%;
    padding: 5px;
    z-index: 5;
    font-size: 25px;
    margin: 0 auto;
    color: #33cc99;
    text-decoration: none;
    margin-right: 10px;
}

.hrNotFound {
    padding: 0;
    border: none;
    border-top: 5px solid #fff;
    color: #fff;
    text-align: center;
    margin: 0px auto;
    width: 90%;
    height: 10px;
    z-index: -10;
    margin-bottom: 50px;
}

.hrNotFound:after {
    content: "\2022";
    display: inline-block;
    position: relative;
    top: -0.75em;
    font-size: 2em;
    padding: 0 0.2em;
    background: #33cc99;
}
.notFoundMain {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .c {
        width: 33%;
    }
}
@media (min-width: 1024px) {
    .flexNotFound {
        flex-direction: column;
        align-items: center;
    }
}

/* FIN NOT FOUND */

/* PRODUCTS */
.productsBody {
    background-color: #eae8e8;
}

.productsMain {
    text-align: center;
    margin-top: 80px;
    padding-top: 40px;
    background-color: #eae8e8;
}

.product-box {
    text-decoration: none !important;
    font-size: 20px;
}
.productImage {
    width: 100%;
    padding: 5%;
    border-radius: 32px;
}
.priceAndDisccount {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.productDisccount {
    margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
    .col-lg-3 {
        width: 50%;
    }
}

/* FIN PRODUCTS */

/* ADMIN PANEL */

.cards-admin-products {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.cards-admin-users {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

/* filters */
.filtros {
    margin-top: 30px;
}

@media (max-width: 1000px) {
    .filtros {
        display: none;
    }
}

.myprofile {
    margin-top: 80px;
    padding-top: 40px;
}
.alerta {
    margin-top: 10px;
}

/* ACCESIBILIDAD */
.menuAccesibility {
    display: none;
}
.acText1 {
    font-size: 18px;
    margin-top: 5px;
}
.acText2 {
    font-size: 26px;
    margin-top: -2px;
}
.acText3 {
    font-size: 32px;
    margin-top: -5px;
}

.menuAccesibilityOn {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 85px;
    height: 50px;
    width: 250px;
    right: 15px;
    background-color: #fff;
    box-shadow: 0 0 15px #a7a7a7;
    padding: 8px;
    z-index: 99;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}
.justBorder {
    border-radius: 20px;
    margin: 14%;
    padding: 1%;
    -webkit-box-shadow: 0px 0px 15px 11px rgba(212, 212, 212, 1);
    -moz-box-shadow: 0px 0px 15px 11px rgba(212, 212, 212, 1);
    box-shadow: 0px 0px 15px 11px rgba(212, 212, 212, 1);
}
.justBorderIndex {
    border-radius: 20px;
    margin: 10%;
    padding: 1%;
    -webkit-box-shadow: 0px 0px 15px 11px rgba(212, 212, 212, 1);
    -moz-box-shadow: 0px 0px 15px 11px rgba(212, 212, 212, 1);
    box-shadow: 0px 0px 15px 11px rgba(212, 212, 212, 1);
}
@media (min-width: 1024px) {
    .notFlex {
        display: block;
    }
    .primaryTripCard {
        width: 40%;
    }
    .indexFlex {
        width: 95vw;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto;
    }
    .justBorderIndex {
        width: 32%;
        margin: 4%;
    }
    .imgIndex {
        border-radius: 8px 8px 0px 0px;
    }
}
