<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ("../partials/head") %>
        <!--  <link rel="stylesheet" href="css/style-carrito.css" />
    <link rel="stylesheet" href="css/style2.css" />  -->
    </head>
    <body>
        <header><%-include ("../partials/header") %></header>

        <main>
            <div class="container productcart">
                <div class="row rowproduct">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Total</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-sm-8 col-md-6">
                                        <div class="media">
                                            <a
                                                class="thumbnail pull-left"
                                                href="#">
                                                <img
                                                    class="media-object"
                                                    src="/images/recomendado4.png"
                                                    style="
                                                        width: 72px;
                                                        height: 72px;
                                                    " />
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#">Tour</a>
                                                </h4>
                                                <h5 class="media-heading">
                                                    por
                                                    <a href="#">Tripadvisor</a>
                                                </h5>
                                                <span>Status: </span
                                                ><span class="text-success"
                                                    ><strong
                                                        >Programado</strong
                                                    ></span
                                                >
                                            </div>
                                        </div>
                                    </td>
                                    <td
                                        class="col-sm-1 col-md-1"
                                        style="text-align: center">
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="exampleInputEmail1"
                                            value="3" />
                                    </td>
                                    <td class="col-sm-1 col-md-1 text-center">
                                        <strong>$4.87</strong>
                                    </td>
                                    <td class="col-sm-1 col-md-1 text-center">
                                        <strong>$14.61</strong>
                                    </td>
                                    <td class="col-sm-1 col-md-1">
                                        <button
                                            type="button"
                                            class="btn btn-danger">
                                            <span
                                                class="glyphicon glyphicon-remove"></span>
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">
                                        <div class="media">
                                            <a
                                                class="thumbnail pull-left"
                                                href="#">
                                                <img
                                                    class="media-object"
                                                    src="/images/recomendado5.png"
                                                    style="
                                                        width: 72px;
                                                        height: 72px;
                                                    " />
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                    <a href="#"
                                                        >Tour por Cartagena</a
                                                    >
                                                </h4>
                                                <h5 class="media-heading">
                                                    por
                                                    <a href="#"
                                                        >Cartagena tours</a
                                                    >
                                                </h5>
                                                <span>Status: </span
                                                ><span class="text-warning"
                                                    ><strong
                                                        >En proceso</strong
                                                    ></span
                                                >
                                            </div>
                                        </div>
                                    </td>
                                    <td
                                        class="col-md-1"
                                        style="text-align: center">
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="exampleInputEmail1"
                                            value="2" />
                                    </td>
                                    <td class="col-md-1 text-center">
                                        <strong>$4.99</strong>
                                    </td>
                                    <td class="col-md-1 text-center">
                                        <strong>$9.98</strong>
                                    </td>
                                    <td class="col-md-1">
                                        <button
                                            type="button"
                                            class="btn btn-danger">
                                            <span
                                                class="glyphicon glyphicon-remove"></span>
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td><h5>Subtotal</h5></td>
                                    <td class="text-right">
                                        <h5><strong>$24.59</strong></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td><h5>Estimated shipping</h5></td>
                                    <td class="text-right">
                                        <h5><strong>$6.94</strong></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td><h3>Total</h3></td>
                                    <td class="text-right">
                                        <h3><strong>$31.53</strong></h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td>
                                        <button
                                            type="button"
                                            class="btn btn-default">
                                            <span
                                                class="glyphicon glyphicon-shopping-cart"></span>
                                            Continue Shopping
                                        </button>
                                    </td>
                                    <td>
                                        <button
                                            type="button"
                                            class="btn btn-success">
                                            Checkout
                                            <span
                                                class="glyphicon glyphicon-play"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer row"><%-include ("../partials/footer") %></footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    </body>
</html>
