<div class="row">
    <div class="contact-us col">
        <h4>Contactanos/ Soporte:</h4>
        <p><i class="fas fa-envelope"></i> tripstarter@gmail.com</p>
        <p><i class="fab fa-whatsapp"></i> +11 3900-7689</p>
        <a href="#"> <i class="fab fa-youtube"></i> Youtube</a>
    </div>
    <div class="payment-methods col">
        <h4>Metodos de pago:</h4>
        <div class="paymentMethods">
            <img
                src="\images\1200px-Mastercard_2019_logo.svg.png"
                width="10%"
                alt="" />
            <img src="\images\JRsnuWTl_400x400.jpg" width="10%" alt="" />
            <img src="\images\logo-Paypal.png" width="10%" alt="" />
        </div>
    </div>
    <div class="partners col">
        <h4>Partners:</h4>
        <a href="https://www.despegar.com.ar">Aerolineas Despegar</a>
        <a href="https://signaturetours.com.ar">Signature Tours</a>
        <a href="https://www.tripadvisor.com/">Tripadvisor</a>
    </div>
</div>
