<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ("./partials/head") %>
    </head>
    <body>
        <main class="notFoundMain">
            <div class="c flex">
                <div class="_404 p"><h1>404</h1></div>
                <hr />
                <div class="_1 p">THE PAGE</div>
                <div class="_2 p">WAS NOT FOUND</div>
                <a class="btn p" href="#">BACK TO HOME</a>
            </div>
        </main>
    </body>
</html>
