<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ("./partials/head") %>
    </head>
    <body class="notFoundBody">
        <main class="notFoundMain">
            <section class="sectionError">
                <div>
                    <p class="error404">404 - Esta pagina no existe</p>
                </div>
                <div class="notFoundImageContainer">
                    <img
                        class="notFoundImage"
                        src="\images\ethan-sykes-iISyBKOT2D0-unsplash.jpg"
                        alt="" />
                </div>
                <a href="/"
                    ><button
                        href
                        type="button"
                        class="btn btn-outline-success toHome">
                        Vuelve al inicio
                    </button></a
                >
            </section>
        </main>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    </body>
</html>
