<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ("./partials/head") %>
    </head>
    <body class="bodyNotFound">
        <main class="notFoundMain">
            <div class="c flexNotFound">
                <div class="_404 p"><h1>404</h1></div>
                <hr class="hrbodyNotFound" />
                <div class="_1 p">THE PAGE</div>
                <div class="_2 p">WAS NOT FOUND</div>
                <a class="btnNotFound pNotFound" href="/">BACK TO HOME</a>
            </div>
        </main>
    </body>
</html>
